@charset "UTF-8";

/*
PALETA DE CORES
Verde: #49a09d
Lilás: #5f2c82
*/
:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}
main {
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    left: 50%;
    top: 50%;

    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.448);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section > div#imagem {
    background: #5f2c82 url('../imagens/pexels.jpg') no-repeat left bottom;
    background-size: cover;
    height: 200px;
}
section > div#formulario {
    padding: 10px;
}
div#formulario h1 {
    text-align: center;
}
form div.campo {
    background-color: var(--lilas);
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--lilas);
    margin: 5px 0px;
}
form div.campo input {
    background-color: #49a09d;
    border: none;
    height: 100%;
    width: calc(100% - 45px);
    border-radius: 8px;
    padding-left: 2px;

    transform: translateY(-10px);
}
form div.campo input:focus-within {
    background-color: white;
}
form div.campo i {
    width: 40px;
    color: white;
    font-size: 1.8em;
    padding: 5px;
}
div.campo > label {
    display: none;
}
form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    background: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
form > input[type=submit]:hover {
    background-color: #244d4b;
}
form > #botao {
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
    color: var(--verde);
    text-decoration: none;
    text-align: center;
    border: 1px solid #49a09d;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 5px;
}
form > #botao:hover {
    background-color: #244d4b;
    color: white;
}
form > #botao > i {
    font-size: 0.8em;
}