@charset "UTF-8";

/* PALETA DE CORES
VERDE: #49a09d
LILÃS: #5f2c82
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #5f2c82;
}
section h1{
    padding: 10px 0px;
    text-align: center;
}
section p{
    margin-bottom: 10px;
}
section#login {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 250px;
}
div#imagem {
    background: white url('../imagens/pexels.jpg') no-repeat center bottom;
    background-size: cover;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}
div#formulario {
    padding: 10px;
    height: 300px;
}
.campos {
    background-color: #5f2c82;
    border-radius: 5px;
    margin: 2px 0px;
    padding: 1px;
    height: 28px;
}
.campos i{
    color: white;
    position: relative;
    top: 4px;
    padding: 0px 4px;
}
.campos > input {
    background-color: rgb(173, 201, 213);
    border: none;
    border-radius: 5px;
    width: 190px;
    height: 28px;
    position: relative;
    bottom: 6px;
}
.botoes {
    width: 100%;
    height: 28px;
    margin: 2px 0px;
    border-radius: 5px;
    cursor: pointer;
}
#enviar {
    background-color: #49a09d;
    color: white;
    border: none;
}
#esqueceu {
    background-color: white;
    color: #49a09d;
    border: 1px solid #49a09d;
}
#esqueceu > i {
    font-size: 13px;
}
#esqueceu:hover {
    background-color: #306765;
    color: white;
}
#enviar:hover {
    background-color: #306765;
}